<div class="card mt-4">
      <h2 class="font-weight-bold">Educational Background</h2>

    <div class="card-body">
      <h5><strong> Kindergarten - Elementary:</strong>  Colegio De San Juan De Letran</h5>
       <h5><strong> Grade 6 - Highschool :</strong>  The Philippine School Abu Dhabi</h5>
        <h5><strong> College:</strong>  Colegio De San Juan De Letran</h5>
        <p><strong>Degree:</strong> Bachelor in science and Information Technology</p>
        <p><strong>Graduation Year:</strong> 2025</p>
      <!-- Add more educational background entries as needed -->
    </div>
  </div>
  
